@font-face {
	font-family: "Causten";
	src: url("../fonts/Causten-Regular.woff2") format("woff2"),
		url("../fonts/Causten-Regular.woff") format("woff");
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: "Causten";
	src: url("../fonts/Causten-Bold.woff2") format("woff2"),
		url("../fonts/Causten-Bold.woff") format("woff");
	font-style: normal;
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: "Core Sans C";
	src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
		url("../fonts/CoreSansC-65Bold.woff") format("woff");
	font-style: normal;
	font-display: swap;
	font-weight: 600;
}