@import url("fonts.css");
@import url("reset.css");

main {
	padding: 50px;
	background: url("../img/silver_metal_background.webp") center / 100%;
}

h1 {
	font-family: "Poppins", sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: rgba(24, 43, 24, 0.822);
	text-align: center;
	text-decoration: underline;
	margin-bottom: 50px;
}

.vector-logo,
.vector-content,
.rastr-content {
	max-width: 1920px;
	margin: 0 auto;
}

.vector-logo h2,
.vector-content h2,
.rastr-content h2 {
	margin-bottom: 30px;
}

.vector-logo,
.vector-content {
	margin-bottom: 50px;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-size: 50px;
	text-align: center;
	color: brown;
}

.rastr-content img {
	display: block;
	margin: 0 auto 40px;
}

.rastr-content img:last-child {
	margin: 0 auto;
}

.vector-logo img,
.vector-content img {
	margin-right: 60px;
}